{% extends "main.html" %}

{% block content %}
{% if page == 'login' %}
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" name="Login"><br>
  dont have an account <a href="{% url 'register' %}"> register</a>
</form>
{% else %}
Register user <br>
<form action="{% url 'register' %}" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="Register"><br>

</form>

already have an accoutn login <a href="{% url 'login' %}">Login </a>
{% endif %}


{% endblock content %}